.cart {
  position: sticky;
  top: 0;
}
.btn-item {
  display: grid;
  grid-template-columns: 1fr;
  width: 50%;
  margin: 5px;
}
.btn-item button {
  margin: 5px;
}
.rendomItem img {
  width: 30px;
  margin-right: 5px;
}
.rendomItem {
  display: flex;
}
