.product img {
  height: 350px;
  width: 350px;
  margin-bottom: 5px;
}
.product {
  padding: 10px;
  margin: 0 15px;
  border: 1px solid gray;
  margin-bottom: 10px;
  border-radius: 8px;
}
.btn-cart {
  width: 100%;
  background-color: #ffe0b3;
  border-radius: 10px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;

  bottom: 0;
  right: 0;
}
.btn-cart .btn-text {
  margin-right: 5px;
}
.btn-cart:hover {
  background-color: orange;
  color: orangered;
}
